body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  nav {
    background-color: rgba(135, 206, 235, 0.9);
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
  }
  
  .section {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 40px;
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
.marquee-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 90px;
}

#marqueeText {
  position: absolute;
  white-space: nowrap;
  font-size: 2.5rem;
  left: 100%;
  animation: slideText 10s linear infinite;
}

/* Move → center → move out */
@keyframes slideText {
  0% {
    transform: translateX(0);
  }
  40% {
    left: 50%;
    transform: translateX(-50%);
  }
  100% {
    left: -100%;
    transform: translateX(0);
  }
}

/* Blink effect */
.blink {
  animation: blink 0.6s ease-in-out 4;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}


  
  /* MOBILE STYLES */
  @media (max-width: 768px) {
  
    nav {
      flex-direction: column;
      text-align: center;
    }
  
    nav a {
      margin: 10px 0;
    }
  
    .section {
      padding: 20px;
    }
  
    h1 {
      font-size: 26px;
    }
  
    h2 {
      font-size: 22px;
    }
  }
  

  


